* {
  box-sizing: border-box;
  margin: 0;
}
body {
  /* margin-top: 20px; */
  font-family: Arial, Helvetica, sans-serif;
  background-image: url(./background.png);
  width: 100vw;
  height: 100vh;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}
.list-boxes {
  width: 100%;
  margin: center;
  display: flex;
  gap: 20px;
  justify-content: center;
  position: absolute;
  margin-top: 150px;
  /* margin-left: 80px; */
}
.box > div > h2::first-letter {
  font-size: 40px;
  color: #14213d;
  text-shadow: 1px 1px 2px #e5e5e5, 0 0 25px #e5e5e5, 0 0 5px #e5e5e5;
}
.box {
  width: 300px;
  height: fit-content;
  background-color: #fff;
  border-radius: 7px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 30px;
}
.box > div {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #fca311;
}
.box > div > span {
  color: #14213d;
  display: flex;
  align-items: center;
  margin-top: 4px;
}

.box > button {
  background-color: #14213d;
  color: #fff;
  cursor: pointer;
  flex-direction: column;
  padding: 7px;
  height: 30px;
  border-radius: 7px;
  border-radius: solid 1px #000;
  box-shadow: none;
  background-color: none;
  /* border-inline: none; */
  border-style: none;
  transition: all 0.3s;
}
.box > button:hover {
  background-color: #fca311;
  box-shadow: 1px 1px 10px #00000049;
}
.box > button:active {
  transform: scale(0.95);
}
/* Filling form */
.form-background {
  width: 100%;
  height: 100%;
  background-color: #00000072;
  position: relative;
  display: none;
  transition: all 0.3s ease-in-out;
}
.edit-background {
  width: 100%;
  height: 100%;
  background-color: #00000072;
  position: relative;
  display: none;
  transition: all 0.3s ease-in-out;
}
.form {
  width: 400px;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 5px;
  margin: auto;
  background-color: white;
  border-radius: 7px;
  padding: 20px;
  background: linear-gradient(
    140deg,
    rgba(252, 163, 17, 1) 0%,
    rgba(240, 114, 77, 1) 160%
  );
}
.form > button:first-child {
  width: 50px;
  align-self: end;
  cursor: pointer;
  background-color: #14213d;
  color: #fff;
  border-radius: 7px;
  border: 1px solid #14213d;
  transition: all 0.3s;
}
.form > button:first-child:hover {
  box-shadow: 1px 1px 10px #0000004f;
}
.form > button:first-child:active {
  transform: scale(0.9);
}
.form > h2 {
  color: #fff;
}
.form > h2:first-letter {
  color: #14213d;
  font-size: 40px;
}
.form > label {
  color: #fff;
}
.form > input {
  border-radius: 3px;
  border: none;
  margin-bottom: 15px;
  height: 55px;
}
.form > textarea {
  border-radius: 3px;
  border: none;
  margin-bottom: 15px;
  height: 400px;
}
.form > select {
  border-radius: 3px;
  border: none;
  margin-bottom: 15px;
  height: 55px;
}
.form > button {
  background-color: #14213d;
  border: none;
  border-radius: 7px;
  height: 100px;
  color: #fff;
  cursor: pointer;
  transition: all 0.3s;
}
.form > button:hover {
  background-color: #fff;
  color: #14213d;
}
/* Creating new tasks */
.dragg {
  background-color: #fca311;
  transition: all 0.3s;
}
.dragg:hover {
  box-shadow: 5px 2px 10px #0000005a;
}
ul {
  padding-inline-start: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: start;
}
ul > div {
  display: flex;
  gap: 15px;
  justify-content: space-between;
  align-items: start;
  background-color: white;
  padding: 10px;
  border-radius: 7px;
}
ul > div > div:first-child > button {
  width: 27px;
  height: 27px;
  border: solid 1px #fff;
  border-radius: 7px;
  background-color: white;
  cursor: pointer;
  transition: all 0.3s;
}
ul > div > div:first-child > button:hover {
  box-shadow: 2px 2px 2px #00000028;
  border: solid 1px #14213d;
}
ul > div > div:nth-child(2) {
  width: 180px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  inline-size: 150px;
  overflow-wrap: break-word;
  color: #14213d;
}
ul > div > div:nth-child(2) > p:first-child {
  color: #fff;
  font-weight: 700;
}
ul > div > div:nth-child(2) > div {
  color: #e5e5e5;
  border: solid 1px #e5e5e5;
}
ul > div > div:last-child {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
ul > div > div:last-child > button {
  width: 27px;
  height: 27px;
  border: solid 1px #fff;
  border-radius: 7px;
  background-color: white;
  cursor: pointer;
  transition: all 0.3s;
}
ul > div > div:last-child > button:hover {
  box-shadow: 2px 2px 2px #00000028;
  border: solid 1px #14213d;
}
ul > div > div > div {
  font-size: 12px;
  color: rgba(128, 128, 128, 0.503);
  border: solid 1px rgba(67, 13, 13, 0.184);
  width: 50px;
  height: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 7px;
}
/* Responsive */
@media only screen and (max-width: 700px) {
  body {
    height: 100%;
    background-size: 100%;
    background-repeat: repeat-y;
  }
  .list-boxes {
    margin-top: 50px;
    padding-bottom: 50px;
    flex-wrap: wrap;
  }
  .box {
    gap: 10px;
  }
  .form-background {
    height: 100%;
    margin: auto;
    position: absolute;
  }
  .edit-background {
    height: 100%;
    margin: auto;
    position: absolute;
  }
  .form {
    width: 250px;
    height: 400px;
  }
  .form > label {
    font-size: 13px;
  }
  .form > input {
    margin-bottom: 5px;
    height: 25px;
  }
  .form > textarea {
    margin-bottom: 5px;
    height: 50px;
  }
  .form > select {
    margin-bottom: 5px;
    height: 25px;
  }
  .form > button:first-child {
    height: 30px;
  }
  .form > button:last-child {
    height: 40px;
  }
}
